<h4>{{card.title}}</h4>
<h4 class="subheader">Instructions: {{card.instructions}}</h4>
<p>{{card.problem}}</p>

{{#if card.tokenized_snippet}}
  <code>
  {{#each card.tokenized_snippet}}
    {{#each .}}
      <span class="click-response">{{.}}</span>
    {{/each}}
  {{/each}}
  </code>
{{/if}}
{{#unless card.responded}}
  <form id="text-response-form">
    <input type="text" name="user-answer" id="string-response">
    <input type="submit" id="string-submit" value="Submit">
  </form>
{{/unless}}
{{#if card.responded}}
  {{#if card.correct_answer}}
    <div class="correct-indicator">
      <h4>Correct!</h4>
    </div>
  {{else}}
    <div class="incorrect-indicator">
      <h4>Incorrect</h4>
    </div>
  {{/if}}
  <button id="next">Next</button>
{{/if}}
