<div class="row">
  <div class="large-12 columns">
    <ul class="breadcrumbs">
      <li><%= link_to("Home", root_path) %></li>
      <li><%= link_to("Lessons", lessons_path) %></li>
      <li><%= link_to(@lesson.title, lesson_path(@lesson)) %></li>
      <li class="current"><%= link_to(@assignment.title, lesson_assignment_path(@lesson, @assignment)) %></li>
    </ul>
  </div>
</div>
<%- if @coursework.present? -%>
  <%- if @coursework.completed? %>
    <div class="row">
      <div class="large-8 columns panel">
        <h5 class="subheader">
          Notice: you completed this assignment <%= time_ago_in_words(@coursework.updated_at) %> ago.
        </h5>
      </div>
    </div>
  <%- end -%>
<%- end -%>
<div class="row">
  <div class="large-12 columns panel">
    <h4><%= @assignment.title %></h4>
    <h4 class="subheader"><%= @assignment.summary %></h4>
    <p><%= @assignment.instructions %></p>
    <a class="button" href=<%= @assignment.url %> target="_blank">Start</a>
  </div>
</div>
<div class="row panel">
  <%- if @coursework.present? -%>
    <%- unless @coursework.completed? %>
      <div class="large-2 columns">
        <%= simple_form_for([current_user, @coursework]) do |f| %>
          <%= f.hidden_field :completed, value: true %>
          <%= f.hidden_field :lesson_id, value: params[:lesson_id] %>
          <%= f.submit "Done", class: "button success" %>
        <%- end -%>
      </div>
    <%- end -%>
  <%- end -%>
</div>
