<ul class="lesson-list">
  <%- @lessons.ascending_by_title.each do |lesson| -%>
    <div class="row">
      <li class="large-12 columns panel lesson-entry">
          <div class="large-8 columns">
            <div class="lesson-title"><h4><%= lesson.title %></h4></div>
            <div class="lesson-summary"><h4 class="subheader"><%= lesson.summary %></h4></div>
          </div>
          <div class="large-4 columns">
            <%- if user_signed_in? -%>
              <%- if current_user.lessons.include?(lesson) -%>
                <%= button_to("Continue", lesson_path(lesson), class: "large button", method: "get") %>
              <%- else -%>
                <%= simple_form_for([current_user, @enrollment]) do |f| %>
                  <%= f.hidden_field :lesson_id, value: lesson.id %>
                  <%= f.submit "Start", class: "large button success" %>
                <%- end -%>
              <%- end -%>
            <%- else -%>
              <%= button_to("Start", lesson_path(lesson), class: "large button success", method: "get") %>
            <%- end -%>
          </div>
      </li>
    </div>
  <%- end -%>
</ul>
