<h2><%= @lesson.title %></h2>
<%- @lesson.activities.descending_position.each do |activity| -%>
  <div class="row">
    <%- if activity.completable_type == "Assignment" -%>
      <%- assignment = activity.completable -%>
      <div class="large-12 columns assignment panel">
        <div class="large-8 columns">
          <h5 class="assignment-title"><%= "#{activity.completable.title} " %></h5><span class="label">Assignment</span>
          <h5 class="subheader"><%= assignment.summary %></h5>
        </div>
        <div class="large-3 columns">
          <%- if user_signed_in? -%>
            <%- if current_user.assignments.include?(assignment) -%>
              <%- coursework = current_user.assignment_progress(assignment) -%>
              <%- if coursework.completed? %> 
                <%= button_to("Review", lesson_assignment_path(@lesson, assignment), class: "button secondary", method: "get") %>
                <small><%= "Completed in #{coursework.lesson.title}" unless coursework.lesson == @lesson %></small>
              <%- else -%>
                <%= button_to("Continue", lesson_assignment_path(@lesson, assignment), class: "button success", method: "get") %>
              <%- end -%>
            <%- else -%>
              <%= simple_form_for([current_user, @coursework]) do |f| %>
                <%= f.hidden_field :assignment_id, value: assignment.id %>
                <%= f.hidden_field :lesson_id, value: @lesson.id %>
                <%= f.submit "Start", class: "large button" %>
              <%- end -%>
            <%- end -%>
          <%- else -%>
            <%= button_to("Start", lesson_assignment_path(@lesson, assignment), class: "button success", method: "get") %>
          <%- end -%>
        </div>
      </div>
    <%- elsif activity.completable_type == "Challenge" -%>
      <%- challenge = activity.completable -%>
      <div class="large-12 columns challenge panel callout">
        <div class="large-8 columns">
          <h5 class="challenge-title"><%= "#{challenge.title} " %></h5><span class="secondary label">Challenge</span> 
        </div>
        <div class="large-3 columns">
          <%= button_to("Start", lesson_challenge_path(@lesson, challenge), class: "large button success", method: "get") %>
        </div>
      </div>
    <%- end -%>
  </div>
<%- end -%>
<div class="row">
  <div class="large-2 columns panel">
    <%= link_to("Back to lessons", lessons_path, class: "button") %>
  </div>
</div>
