<%- @lesson.activities.descending_position.each do |activity| -%>
  <div class="row">
    <%- if activity.completable_type == "Assignment" -%>
      <div class="large-12 columns assignment panel">
        <div class="large-8 columns">
          <h5 class="assignment-title"><%= "#{activity.completable.title} " %></h5><span class="label">Assignment</span>
          <h5 class="subheader"><%= activity.completable.summary %></h5>
        </div>
        <div class="large-4 columns">
          <%- if user_signed_in? -%>
            <%- if current_user.assignments.include?(activity.completable) -%>
              <%= button_to("Continue", assignment_path(activity.completable), class: "button success", method: "get") %>
            <%- else -%>
              <%= simple_form_for([current_user, @coursework]) do |f| %>
                <%= f.hidden_field :assignment_id, value: activity.completable.id %>
                <%= f.submit "Start", class: "large button" %>
              <% end %>
            <%- end -%>
          <%- else -%>
            <%= button_to("Start", assignment_path(activity.completable), class: "button success", method: "get") %>
          <%- end -%>
        </div>
      </div>
    <%- elsif activity.completable_type == "Challenge" -%>
      <div class="large-12 columns challenge panel callout">
        <h5 class="challenge-title"><%= "#{activity.completable.title} " %></h5><span class="secondary label">Challenge</span> 
      </div>
    <%- end -%>
  </div>
<%- end -%>
