<div class="row panel">
  <h2>Dashboard</h2>
</div>

<div class="row">
  <section class="in-progress large-4 columns">
    <h3>My Progress</h3>
    <%- if @dashboard.lessons_in_progress.length > 0 -%>
      <h4>Lessons in progress</h4>
      <ul class="lessons-in-progress panel">
        <%- @dashboard.lessons_in_progress.each do |lesson| -%>
          <li><%= link_to(lesson.title, lesson_path(lesson)) %></li>
        <%- end -%>
      </ul>
    <%- end -%>
    <%- if @dashboard.assignments_in_progress.length > 0 -%>
      <h4>Assignments in progress</h4>
      <ul class="assignments-in-progress panel">
        <%- @dashboard.assignments_in_progress.each do |coursework| -%>
          <li><%= link_to(coursework.assignment.title, lesson_assignment_path(coursework.lesson, coursework.assignment)) %></li>
        <%- end -%>
      </ul>
    <%- end -%>
  </section>

  <section class="card-queue large-4 columns">
    <%- if @dashboard.card_queue.length > 0 -%>
      <h3>Training queue</h3>
      <h5 class="subheader">All challenges you've done, with our suggested next repetition</h5>
      <ul class="card-queue-list panel">
        <%= button_to("Practice Now", user_my_deck_path(current_user), class: "button", method: "get") %>
        <%- @dashboard.card_queue.each do |submission| -%>
          <li class="card-queue-item">
            <h5><%= submission.card.title %></h5>
            <h5 class="subheader">Next repetition:
              <%- if submission.sm2_next_repetition.today? -%>
                Today
              <%- elsif submission.sm2_next_repetition == Date.tomorrow -%>
                Tomorrow
              <%- else -%>
                <%= submission.sm2_next_repetition.to_formatted_s(:short) %></h5>
              <%- end -%>
          </li>
        <%- end -%>
      </ul>
    <%- end -%>
  </section>

  <section class="achievements large-4 columns">
    <h3>My Achievements</h3>
    <%- if @dashboard.completed_assignments.length > 0 -%>
      <h4>Completed assignments</h4>
      <ul class="completed-assignments panel">
        <%- @dashboard.completed_assignments.each do |coursework| -%>
          <li><%= link_to(coursework.assignment.title, lesson_assignment_path(coursework.lesson, coursework.assignment)) %></li>
        <%- end -%>
      </ul>
    <%- end -%>
    <%- if @dashboard.completed_challenges.length > 0 -%>
      <h4>Completed Challenges</h4>
      <ul class="completed-challenges panel">
        <%- @dashboard.completed_challenges.each do |completion| -%>
          <li class="completed-challenge">
            <h5><%= completion.challenge.title %></h5>
            <h5 class="subheader">Score: <%= completion.score %></h5>
            <h5 class="subheader">Completed:
              <%= completion.updated_at.localtime.strftime("%e %b %l:%M %p") %></h5>
          </li>
        <%- end -%>
      </ul>
    <%- end -%>
  </section>
</div>
