<h2>Dashboard</h2>

<section class="in-progress">
  <%- if @dashboard.lessons_in_progress.length > 0 -%>
    <h3>Lessons in progress</h3>
    <ul class="lessons-in-progress panel">
      <%- @dashboard.lessons_in_progress.each do |lesson| -%>
        <li><%= link_to(lesson.title, lesson_path(lesson)) %></li>
      <%- end -%>
    </ul>
  <%- end -%>
  <%- if @dashboard.assignments_in_progress.length > 0 -%>
    <h3>Assignments in progress</h3>
    <ul class="assignments-in-progress panel">
      <%- @dashboard.assignments_in_progress.each do |coursework| -%>
        <li><%= link_to(coursework.assignment.title, lesson_assignment_path(coursework.lesson, coursework.assignment)) %></li>
      <%- end -%>
    </ul>
  <%- end -%>
</section>

<div class="completed-challenges-container">
  <h3>Completed Challenges</h3>
  <ul class="completed-challenges panel">
  <%- @dashboard.completed_challenges.each do |completion| -%>
    <li class="completed-challenge">
      <h5><%= completion.challenge.title %></h5>
      <h5 class="subheader">Score: <%= completion.score %></h5>
      <h5 class="subheader">Completed:
        <%= completion.updated_at.localtime.strftime("%e %b %l:%M %p") %></h5>
    </li>
  <%- end -%>
  </ul>
</div>
