  <div class="contain-to-grid sticky">
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to("",root_path) %></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <%- if user_signed_in? -%>
            <li class="divider"></li>
            <li><%= link_to("Practice", user_my_deck_path(current_user)) %></li>
          <%- end -%>
          <li class="divider"></li>
          <li><%= link_to("Explore Lessons", lessons_path) %></li>
          <li class="divider"></li>
        </ul>
        <ul class="right">
          <li class="divider"></li>
          <%- if user_signed_in? -%>
            <li><%= link_to("Dashboard", dashboard_path) %></li>
            <li class="divider"></li>
            <li class="has-dropdown">
              <a href="#"><%= current_user.email %></a>
              <ul class="dropdown">
                <li><label>My Account</label></li>
                <li><%= link_to("Manage Account", edit_user_registration_path) %></li>
                <%- if can? :manage, :all -%>
                  <li><%= link_to("Superadmin", rails_admin_path) %></li>
                <%- end -%>
                <li><%= link_to("Sign Out", destroy_user_session_path, method: 'delete') %></li>
              </ul>
            </li>
          <%- else -%>
            <li><%= link_to("Sign In", new_user_session_path) %></li>
            <li class="divider"></li>
            <li><%= link_to("Sign Up", new_user_registration_path) %></li>
          <%- end -%>
          <li class="divider"></li>
        </ul>
      </section>
    </nav>
  </div>
